/*Login*/
/* container do login */
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    max-width: 90vw;
    background: rgba(0, 0, 0, 0.5);
}
/* Topo */
.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}
.social_icon span:hover{
    color: white;
    cursor: pointer;
}
.social_icon{
    position: absolute;
    top: -35;
    right: 20px;
}

.card-header h3{
    color: white;
}
/*Corpo*/
.input-group-prepend span{
    width: 50px;
    background:#FFC312;
    color: black;
    border: 0;
}
input:focus{
    outline: 0 0 0 0!important;
    box-shadow: 0 0 0 0 !important;
}
.remember{
    color: white;
}
.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.login_btn{
    color: black;
    background: #FFC312;
    width: 100px;
    font-weight: bold;
}
.login_btn:hover{
    background: white;
    color: black;
}
.links {
    color:white
}
.links a{
    margin-left: 5px;
}