/*****
***
By Flavio da Silva Ferreira
*********/
body,html{
    height: 100vh;
}
body{
    background: linear-gradient(black,rgb(51, 35, 35),rgb(100, 58, 58));
}
/* menu superior */
#navbar{
    background: rgba(15, 15, 15,.5);
    padding-top: 15px;
    padding-bottom: 15px;
}
#logo{
    font-size: 1.8em;
}
ul{
    list-style: none;
}